<div class="bg-black text-white mt-10 text-center px-5 lg:px-20 cursor-pointer">
    <div class="container">
        <div class="py-3 flex justify-between flex-col lg:flex-row">
            <div class="px-4">
                <h3 class="font-semibold text-gray-500">Company</h3>
                <p class="mb-2  hover:text-gray-400">About</p>
                <p class="mb-2  hover:text-gray-400">FAQ's</p>
                <p class="mb-2  hover:text-gray-400">Blog</p>
                <p class="mb-2  hover:text-gray-400">Careers</p>
            </div>
            <div class="px-4">
                <h3 class="font-semibold text-gray-500 text-lg px-5">Links</h3>
                <p class="mb-2  hover:text-gray-400">Contact Us</p>
                <p class="mb-2  hover:text-gray-400">My Account</p>
                <p class="mb-2  hover:text-gray-400">Privacy Policy</p>
            </div>
            <div class="px-4">
                <h3 class="font-semibold text-gray-500">Top Categories</h3>
                <p class="mb-2  hover:text-gray-400 ">MEN's shirts</p>
                <p class="mb-2  hover:text-gray-400 ">Women's sarees</p>
                <p class="mb-2  hover:text-gray-400 ">Kurtas</p>
                <p class="mb-2  hover:text-gray-400 ">Tops</p>
            </div>
            <div class="px-4">
                <h3 class="font-semibold text-gray-500">Information</h3>
                <p class="mb-2  hover:text-gray-400">How to order</p>
                <p class="mb-2  hover:text-gray-400">Term's and conditions</p>
                <p class="mb-2  hover:text-gray-400">Return policy</p>
                <p class="mb-2  hover:text-gray-400">Delivery charges</p>
            </div>
        </div>
    </div>
</div>