<div class="box">

    <div class="grid grid-cols-6 ">
        <div class="col-span-3">
            <div class="flex items-center w-full" >
                <img class="w-[6rem] h-[6rem]" src="https://rukminim1.flixcart.com/image/612/612/xif0q/top/8/t/m/xxl-amrcrochetlacetop-madstitches-apparels-private-limited-original-imagr39r3kfmb5vy.jpeg?q=70" alt="">
                <div class="ml-5">
                    <p class="text-lg">product name is too large </p>
                
                <p class="text-sm text-gray-400">size: s</p>
                <p class="text-sm text-gray-400">color: white</p>
            </div>
            </div>
        </div>
        <div class="col-span-1 sm:ml-1">
            <p class="text-lg font-semibold">$399</p>
        </div>
       <div class="col-span-2">
            
            <p class="text-lg font-semibold">Expected delivery is 10th OCT</p>
            <p class="text-sm">Your item has ben delivered</p>
        </div>
    </div>
</div>