<div class="fixed top-0 left-0 right-0 text-gray-800 z-50 bg-[#5C8374]">

    <div class="h-16 flex justify-between items-center">

        <div class="flex items-center ">
             <div class="mr-5">
            <img class="w-16 ml-5 rounded-lg" src="https://s.tmimgcdn.com/scr/400x250/267900/shopping-vector-logo-design-template-v8_267941-original.jpg" alt="">
             </div>

        <div>
            <div class="flex space-x-4">
                <a routerLink="/" >Shop</a>
                <div>
                    <button mat-raised-button color="accent">Men</button>
                </div>
                <div>
                    <button mat-raised-button>Women</button>
                </div>
            </div>
        </div>
        </div>
       
    </div>
</div>
