<div class="fixed top-0 left-0 right-0 text-gray-800 z-50 bg-[#5C8374] ">

    <div class="px-5 lg:px-20 h-16 flex justify-between items-center">

        <div class="flex items-center ">
            <div class="mr-5">
                <img class="w-16 ml-5 rounded-lg"
                    src="https://s.tmimgcdn.com/scr/400x250/267900/shopping-vector-logo-design-template-v8_267941-original.jpg"
                    alt="">
            </div>

            <div>
                <div class="flex space-x-4 items-center">
                    <a routerLink="/">Shop</a>
                    <div>
                        <button (click)="openNavContent('men',1,$event)" mat-raised-button color="accent">Men</button>
                    </div>
                    <div>
                        <button (click)="openNavContent('women',1,$event)" mat-raised-button color="primary">Women</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex items-center space-x-4">
           <button mat-icon-button (click)="navigateTo('cart')">
            <mat-icon>shopping_cart</mat-icon>
           </button>
           <button *ngIf="false" mat-raised-button>LOGIN</button>

           <div *ngIf="true" class="flex items-center">
            <div class="flex items-center">
                <span class="font-bold text-lg">Shri</span>

                <button mat-button class="ml-2" [matMenuTriggerFor]="profileMenu">
                    <img class="h-7 w-7" src="https://cdn.pixabay.com/photo/2014/03/25/16/32/user-297330_640.png" alt="">
                </button>
                <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item>Orders</button>
                    <button mat-menu-item>Profile</button>
                    <button mat-menu-item>Logout</button>
                  </mat-menu>
            </div>
           </div>
        </div>
    </div>
    <div *ngIf="isNavOpen" (click)="$event.stopPropagation()" class="absolute w-full modal-container">

        <app-navbar-content [selectedSection]="currentSection"></app-navbar-content>
    </div>
</div>

