<div class="py-20 px-5 lg:px-20">

    <h1 class="text-lg font-bold text-center">My Orders</h1>

    <div class="lg:grid grid-cols-4 gap-3">

        <div class="col-span-1 ">
            <div class="flex flex-col">
                <div *ngFor="let option of orderFilter">
                    <mat-checkbox [value]="option.value" [id]="option.value" class="text-gray-500 text-sm">{{option.label}}</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="col-span-3 space-y-5 py-5 sm:mt-5 lg:mt-0">
            <div class="space-y-5" *ngFor="let item of products">
                <div class="cursor-pointer" (click)="navigateTo(6)" *ngFor="let order of item">
                    <app-order-card></app-order-card>
                </div>
            </div>
        </div>
    </div>
</div>