<div class="container ">

    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-12 h-12">
                <img class="w-full h-full rounded-full" src="https://cdn.pixabay.com/photo/2016/08/28/13/12/secondlife-1625903_640.jpg" alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9 ">
            <div class="space-y-2 ">
            <div>
                <p class="font-semibold text-lg">UserName</p>
                <p class="opacity-60">Oct, 10 2023</p>
            </div>
            <div>
                <app-star-rating [Rating]=3/>
            </div>
            <div>
                <p>I liked all products</p>
            </div>
        </div>
        </div>
    </div>

   
</div>